@page "/about"
<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">FirmWareHouse</h2>
        <p>
            This project was created to help represent a fundamental app written
            with Blazor. 
        </p>
        <br />
        <h2 class="title">Resources</h2>
        <ul>
            <li>
                <a href="https://github.com/rhenry74/TechStore">
                    Code in GitHub
                </a>
            </li>
        </ul>
    </div>
</div>
