@page "/about"
<div class="content-container">
    <div class="content-title-group not-found">
        <h2 class="title">FirmWareHouse</h2>
        <p>
            We hope you are as excited about DIY as we are. DIY is a fun and cheap way to enhance and expand quality of life. Sometimes we want to do DIY projects that include microcontrollers but we don't want to spend the time learning how to code and flash them with firmware. If you've ever felt this way... you're in the right place.
        </p>
        <p>
            This site is where you can find all of the resources you need to put together a DIY project and flash the firmware directly from your browser.
        </p>
        <br />
        <h2 class="title">Resources</h2>
        <ul>
            <li>
                <a href="https://github.com/rhenry74/TechStore">
                    Code in GitHub
                </a>
            </li>
        </ul>
    </div>
</div>
